In [1]:
from functools import reduce
from collections import defaultdict
from aocutils.common import ints
import operator
f = open("in.txt").read().strip().split("\n")
lines = [line for line in f]
lines[0]
problems = defaultdict(list)
for line in lines[:-1]:
    for idx, num in enumerate(ints(line)):
        problems[idx].append(num)
ans = 0

for idx, op in enumerate(lines[-1].replace(' ', '')):
    if op == '+':
        
        ans += reduce(operator.add, problems[idx] )
    elif op == '*':
        ans += reduce(operator.mul, problems[idx], 1)

ans

4951502530386

In [60]:
*nums, ops = map(str.split, open('in.txt'))
ans = 0
for num, op in zip(zip(*nums), ops):
    ans += eval(op.join(num))
ans

4951502530386

In [51]:
from functools import reduce
import operator
*lines, ops = open("in.txt").read().split('\n')
lines = list(zip(*lines))
ans = 0
numbers = []
for op, col in zip(ops[::-1], lines[::-1]):
    num = ''.join(col)
    if num.replace(' ',''):
        numbers.append(int(num))
    if op in '+*':
        ans += reduce({'+': operator.add, '*': operator.mul}[op], numbers)
        numbers = []     
ans

8486156119946

In [52]:
from functools import reduce
import operator
lines = open("in.txt").read().split('\n')

ans = 0
numbers = []

for col in range(len(lines[0])-1,-1,-1):
    num = ''
    for line in lines[:-1]:
        num += line[col]
    if num.replace(' ',''):
        numbers.append(int(num))
    op = lines[-1][col]
    if op in '*+':
        ans += reduce({'+': operator.add, '*': operator.mul}[op], numbers)
        numbers = []     
ans

8486156119946

In [24]:
numbers

[]

In [ ]:
from functools import reduce
import operator
lines = open("in.txt").read().split('\n')

ans = 0
numbers = []
cols = zip(*lines)

for c in list(cols)[::-1]:
    number = ''.join(c[:-1])
    if number.replace(' ',''):
        numbers.append(int(number))
    if c[-1] != ' ': 
        op = c[-1]
        ans += reduce({'*': operator.mul, '+': operator.add}[op], numbers)
        numbers = []
ans

('1', ' ', ' ', '*')

ValueError: invalid literal for int() with base 10: '369+'